*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
   color: #e7a726;
}
a:hover{
   color: rgb(210, 210, 9);
}

.top-bar{
   background-color: rgb(0, 0, 0);
}

.top-links{
   text-align: center;
}
.content{
   display: flex;
   /* width: 100%; */
   justify-content: center;
   align-items: center;
   background-color: rgb(72, 72, 72);
}

.main{
   background-color: white;
   width: 70%;
}

    .navbar{
   height: 60px;
   background: #d29925;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-right: 15px;
   padding-left: 15px;
}

.checkbtn{
   font-size: 30px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

#check{
   display: none;
}

.addtocart{
   width: 120px;
   height: 40px;
   margin: 5px;
   font-size: 15px;
   color: white;
   background-color: #d29925;
   border: none;
   outline: none;
   border-radius: 15px;
   cursor: pointer;

}

.addtocart:hover{
   background-color: rgb(210, 210, 9);
}

@media (max-width: 995px){
   .navdiv .logo a{
      font-size: 25px;
   }

   .navdiv ul{
      display: none;
   }
   .checkbtn{
      display: block;
   }
}

@media (max-width: 757px){
.image-slider .slider img{
   width: 100%;
   height: 300px;
   
}
}

@media (max-width: 1005px){
   .row{
      justify-content: center;
   }
   .main{
      width: 100%;
   }
}

@media (max-width: 579px){
   .footer .container .row{
      display: block;
      text-align: center;
   }
   .footer .container .row .footer-col{
      width: 100%;
      padding: 10px;

   }

}
.navdiv{
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo a{
   font-size: 35px;
   font-weight: 600;
   color: white;
}

.navdiv ul li{
   list-style: none;
   display: inline-block;
}

.navdiv ul li a{
   color: white;
   font-size: 18px;
   font-weight: bold;
   margin-right: 25px;
}

.search-btn{
   width: 40px;
   height: 40px;
   font-size: 25px;
   background-color: #d29925;
   color: black;
   border: none;
   cursor: pointer;

}

.close-btn{
   color: white;
}

.search-box{
   width: 140px;
   height: 40px;
   padding: 15px;
   border-radius: 25px;
   background-color: black;
   color: white;
   outline: none;
   border: none;
}

.sign{
   background-color: black;
   margin-left: 10px;
   border-radius: 10px;
   padding: 10px;
   width: 90px;
   border: 2px solid white;
}
.sign a{
   color: white;
   font-weight: bold;
   font-size: 15px;
}

.image-slider{
   position: relative;
   width: 100%;
}

.slider img{
   width: 100%;
   height: 500px;
}

.arrow{
   cursor:pointer;
   position: absolute;
   top: 45%;
   color: black;
   background-color: white;
   padding: 8px 20px;
   border-radius: 50%;
   font-size: 25px;
   font-weight: bold;
}

.next{
   right: 10px;
}
.prev{
   left: 10px;
}

.caption{
   color: white;
   font-size: 30px;
   font-weight: bold;
   position: absolute;
   bottom: 0px;
   width: 100%;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 15px 0px;
}

.slider{
   display: none;
}

.product-top img{
   width: 290px;
   height: 300px;
   cursor: pointer;
   margin: 20px;
}

.col-md-3{
   width: 315px;
   text-align: center;
   font-size: 18px;
}

.col-md-3 h5{
   font-size: 23px;
}

.btn-secondary{
   color: black;
   font-size: 12px;
   width: 40px;
   height: 20px;
   border: 2px solid black;
   border-radius: 5px;
   margin: 5px;
}

.product-bottom i{
   color: #d29925;
}

.new-arrivals{
   /* width: 100px; */
   padding: 10px;
   font-family: sans-serif;
   letter-spacing: 1px;
}

.new-arrivals h2{
   background: #d29925;
   color: #fff;
   text-align: center;
   font-size: 24px;
   padding: 5px;
   height: 40px;
}

 .footer{
    background-color:  rgb(58, 57, 57);
    ;
    padding: 70px 0;
 }

 .container{
    max-width: 1170px;
    margin: auto;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
 }

 .footer-col ul{
    list-style: none;
    font-size: 20px;

 }

 .footer-col{
    width: 25%;
    padding: 0 15px;
 }

 .footer-col h4{
    font-size: 26px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
 }

 .social-links i{
   color: white;
   font-size: 20px;
   margin: 5px;
 }

 .bottom-bar{
   background-color: #000000;
   color: white;
   padding: 10px;
   text-align: center;
 }


 /* Article Section  */

 .article-div{
    margin: 50px;
    font-size: 21px;
 }